# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем кэш Python
**/__pycache__/
*.pyc

# Игнорируем секретные ключи и пароли
.env

# Игнорируем локальные кэши редакторов кода
.idea/
.vscode/

# Тесты и кэш
.pytest_cache/
.pytest/

*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

*.log
*.backup